<div data-role="page"> 
  <div data-role="header">
    <h1><%= @title.titleize %> <span>Geo</span>Soundboard</h1>
  </div> 
  <div data-role="content">
    <div id="mapcanvas">
    </div>
    <p>Finding your location: <span id="status">checking...</span></p>
    
    <ul data-role="listview" data-inset="true">
      <% @soundboard.each_with_index do |sound,i| %>
      <li id="sound-item-<%= i %>">
        <span><%= sound[:title] %></span>
        <audio id="sound-<%= i %>" src="http://www.bbc.co.uk<%= sound[:path] %>.mp3"></audio>
      </li>
      <% end %>
      
    </ul>
    
    
  </div>
</div>

<script type="text/javascript">
var map;
var marker;
var soundboard = <%= @soundboard.to_json %>;
function success(position) {
  var s = document.querySelector('#status');

  if (s.className == 'success') {
    // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
    return;
  }

  s.innerHTML = "found you!";
  s.className = 'success';

  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  var myOptions = {
    zoom: 16,
    center: latlng,
    mapTypeControl: false,
    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
  marker = new google.maps.Marker({ 
    position: latlng, 
    map: map,
    draggable:true,
    icon:'http://maps.google.com/mapfiles/ms/micons/blue.png',
    title:"You are here!"
  });

  google.maps.event.addListener(marker, 'mouseup', function() {
    update({'coords': { 'latitude': marker.position.lat(), 'longitude': marker.position.lng() }});
  });

  setupRandomSounds(latlng);
  // setupFacebookPlacesSounds(latlng);
}

function setupRandomSounds(latlng) {
  for (i in soundboard) {
    var sound = soundboard[i];
    var point = randomPoint(latlng);
    sound.marker = new google.maps.Marker({ 
      position: point,
      map: map, 
      title: sound.title,
      icon:'http://maps.google.com/mapfiles/ms/micons/orange.png',
    });
  }
}

function setupFacebookPlacesSounds(latlng) {
  var params = 'type=place&center='+latlng.lat()+','+latlng.lng()+'&distance=1000&access_token=<%= @fb_access_token %>'
  $.getJSON("https://graph.facebook.com/search?callback=?&"+params,
    function(json) {
      places = json.data;
      for (i in soundboard) {
        var sound = soundboard[i];
        if (places[i]) {
          var point = new google.maps.LatLng(places[i].location.latitude,places[i].location.longitude);
        } else {
          var point = randomPoint(latlng);
        }
        sound.marker = new google.maps.Marker({ 
          position: point,
          map: map, 
          title: sound.title,
          icon:'http://maps.google.com/mapfiles/ms/micons/orange.png',
        });
      }
    }
  );
}

function update(position) {
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  // console.log('updated: ' + latlng.lat() + ' ' + latlng.lng());

  marker.setPosition(latlng);
  map.setCenter(latlng);
  for (i in soundboard) {
    var sound = soundboard[i];
    var distance = haversine(marker.position, sound.marker.position);
    if (distance < 0.02) {
      if (!sound.played) {
        sound.played = true;
        sound.marker.setIcon('http://maps.google.com/mapfiles/ms/micons/purple.png');
        document.getElementById('sound-'+i).play();
      }
    }
  }
}

function randomPoint(p) {
  var lat = p.lat() + (-0.0025 + Math.random() / 200.0);
  var lon = p.lng() + (-0.0025 + Math.random() / 200.0);
  return new google.maps.LatLng(lat,lon);
}

// from: http://www.movable-type.co.uk/scripts/latlong.html
if (typeof(Number.prototype.toRad) === "undefined") {
  Number.prototype.toRad = function() {
    return this * Math.PI / 180;
  }
}
function haversine(a, b) {
  var R = 6371; // km
  var dLat = (b.lat()-a.lat()).toRad();
  var dLon = (b.lng()-a.lng()).toRad(); 
  var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
          Math.cos(a.lat().toRad()) * Math.cos(b.lat().toRad()) * 
          Math.sin(dLon/2) * Math.sin(dLon/2); 
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
  var d = R * c;
  return d;
}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
}

<% if request.host == 'localhost' %>
success({'coords': { 'latitude': 51.54634890444444, 'longitude': -0.038198593333333336 }});
update({'coords': { 'latitude': 51.545, 'longitude': -0.0382 }});
<% else %>
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
  navigator.geolocation.watchPosition(update, error, {
    enableHighAccuracy:true, 
    maximumAge:30000, 
    timeout:27000
  });
} else {
  error('not supported');
}
<% end %>
</script>
